@-moz-document domain("vk.com") {

  #page_header, #page_layout {
    width: 95% !important;
  }

  #page_body {
    width: calc(100% - 200px) !important;
    float: left;
    margin-left: 40px;
  }
  
  #public > .page_block {
    width: 800px;
    margin-left: calc(25% - 155px);
  }

  #side_bar_inner {
    position: relative !important;
    margin-top: 42px !important;
  }

  #narrow_column {
    position: relative !important;
  }

  #narrow_column_wrap {
    right: 0;
  }

  .top_home_link {
    width: 63px !important;
  }

  .wide_column_wrap {
    max-width: 800px;
    margin-left: calc(25% - 155px);
  }

  /* chat */

  .im-page_classic {
    margin-left: calc(50% - 275px);
  }

  .im-page-wrapper {
    margin-left: 160px;
    margin-right: 8%;
  }

  /*.ui_rmenu {
    right: 0;
    margin-right: 35px;
  }*/
  
  /* comment reply */
  /*
  .reply_field, .submit_post_field {
    min-height: 62px !important;
    max-height: none !important;
    padding: 20px 20px 16px 32px !important;
  }
  
  .post_field_user_image {
    width: 40px !important;
    height: 40px !important;
    top: 10px !important;
    left: 20px !important;;
  }
  */
  /* hide blocks */
  
  #feed_filters {
    display: none;
  }
  
  .left_menu_nav_wrap {
    display: none;
  }
  
  #groups_filters_wrap {
    display: none;
  }

}
